@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');


*{
  font-family: Sans-Serif;
}


div{
  transition: .7s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  background: #e36;
  border-radius: 12px;
}

div img{
  width : 250px;

  transition: 1s ease;
  border-radius: 12px;
}

div img:hover{
  transform: scale(1.020);
  box-shadow:
  0 4.5px 3.6px rgba(0, 0, 0, 0.024),
  0 12.5px 10px rgba(0, 0, 0, 0.035),
  0 30.1px 24.1px rgba(0, 0, 0, 0.046),
  0 100px 80px rgba(0, 0, 0, 0.07);
}


.brand{
  font-family: 'Fredoka One', cursive;
  color: #36f;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 150%;
}

.next{
  padding: 6px 12px;
  font-family: 'Fredoka One';
  background: #36f;
  color: white;
  border-radius: 9999px;
  position: absolute;
  bottom: -20%;
  left: 0;
}